<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Album</title>
    <link rel="stylesheet" type="text/css" href="albums.css">
    <style>
img{
border: 2px solid red;
border-radius:5px;
padding:3px;
width:200px;
height:200px;
}
h1{
color:red;
}
    </style>
</head>
<body>
<h1>Albums</h1>
<div class="new">
<div th:each="album : ${albums}" style="border: 2px solid red;
border-radius:5px;" >
    <p>Title : <span th:text="${album.title}"></span></span></p>
    <p>Artist : <span th:text="${album.artist}"></span></span></p>
    <p>SongCount : <span th:text="${album.songCount}"></span> song</p>
    <p>Length : <span th:text="${album.length}"></span> seconds</p>
    <p>ImageUrl : <img th:src="${album.imageUrl}"></p>
    <br>
</div>
</div>
<br>
</body>
</html>